<?xml version="1.0" encoding="UTF-8"  ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d %5p [%X{username}] [%X{clientIP} %X{X-Forwarded-For}] [%t] (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="net.canang" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="gwt-log" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.hibernate" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.hibernate.hql.PARSER" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.google" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.activiti" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.apache.cxf" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root>
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>